

.info-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
}

.info-section h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.info-content {
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.info-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    text-align: center;
}

.info-text p {
    font-size: 1.1em;
    line-height: 1.6;
}

.info-map img {
    display: flex;
    max-width: 30%;
    height: auto;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.info-video {
    flex: 1;
    margin-top: 20px;
    flex-direction: column;
}

p{
    color: white;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .info-section h2 {
        font-size: 1.5em;
    }

    .info-content {
        padding-left: 0;
    }

    .info-text p {
        font-size: 1em;
    }

    .info-video iframe {
        height: 150px;
    }

    .working-hours,
    .additional-info {
        margin-top: 10px;
    }
}
