

.info-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
}

.info-section h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.info-content {
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.info-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    text-align: center;
}

.info-text p {
    font-size: 1.1em;
    line-height: 1.6;
}

.info-map img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.info-video {
    flex: 1;
    margin-top: 20px;
    flex-direction: column;
}

p{
    color: white;
    text-align: center;
}
@media screen and (max-width: 767px) {
    .info-content {
        padding: 10px;
    }

    .info-section {
        align-items: center;
    }

    .info-text,
    .info-map,
    .info-video,
    .working-hours,
    .additional-info {
        width: 100%;
    }

    .info-text p {
        font-size: 1em;
    }

    .info-map img {
        margin-top: 10px;
    }

    .info-video iframe {
        width: 100%;
        height: 200px; /* Высоту видео можно настроить по вашему вкусу */
    }

    .working-hours,
    .additional-info {
        margin-top: 20px;
    }
}
