.info-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
  }
  
  .info-section h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .info-content {
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  
  .info-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    text-align: center;
  }
  
  .info-text p {
    font-size: 1.1em;
    word-wrap: break-word;
    margin: 5px;
  }
  
  .info-map iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 300px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .info-video {
    flex: 1;
    margin-top: 20px;
    flex-direction: column;
  }
  
  p {
    color: white;
  }
  
  @media screen and (max-width: 768px) {
    .info-section h2 {
      font-size: 1.5em;
    }
    .info-content {
      padding-left: 0;
    }
    .info-text p {
      font-size: 1em;
    }
    .info-video iframe {
      width: 100%;
      height: 200px;
    }
    .working-hours,
    .additional-info {
      margin-top: 10px;
    }
  }
  
  @media screen and (max-width: 616px) {
    .info-map frame {
      max-width: 100%;
    }
  }
