.card {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    flex-direction: initial;
    margin: 0 0 237px 0;
  }
  
  .wrapper {
    display: flex;
    height: 210px;
    width: 327px;
    margin: 10px;
    border-radius: 7px;
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  }
  
  .product-img {
    display: flex;
    height: 210px;
    width: 164px;
  }
  
  .product-img img {
    border-radius: 7px 0 0 7px;
  }
  
  .product-info {
    height: 210px;
    width: 164px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
  }
  
  .product-text {
    height: 150px;
    width: 164px;
  }
  
  .product-text h1 {
    margin: 0 0 0 18px;
    padding-top: 26px;
    font-size: 17px;
    color: #474747;
  }
  
  .product-text h1,
  .product-price-btn p {
    font-family: 'Bentham', serif;
  }
  
  .product-text h2 {
    margin: 0 0 47px 19px;
    font-size: 7px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
  }
  
  .product-text p {
    height: 63px;
    margin: 0 0 0 19px;
    margin-top: -10px;
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 8px;
    font-weight: lighter;
    overflow: hidden;
  }
  
  .product-price-btn {
    height: 52px;
    width: 164px;
    margin-top: 9px;
    position: relative;
  }
  
  .product-price-btn p {
    display: inline-block;
    position: absolute;
    top: 25px;
    height: 50px;
    font-family: 'Trocchi', serif;
    margin: 0 0 0 38px;
    font-size: 14px;
    font-weight: lighter;
    color: #474747;
  }
  
  span {
    display: inline-block;
    height: 13px;
    font-family: 'Suranna', serif;
    font-size: 17px;
  }
  
  .product-price-btn button {
    float: right;
    display: inline-block;
    height: 25px;
    width: 80px;
    margin: 20px 10px 0px 4px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 8px;
    font-weight: 125;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ffffff;
    background-color: rgb(78, 78, 78);
    cursor: pointer;
    outline: none;
  }
  
  .product-price-btn button:hover {
    background-color: rgb(131, 131, 131);
  }

  img{
    display: flex;
  }
  
  @media screen and (max-width: 616px) {
    img{
        max-width: 100%;
    }

    .product-img {
      width: 100%;
    }

  }

